<div class="table position-absolute">
  <div class="table-row">
    <div class="table-cell">
      <span class="btn btn-primary subject-button">Combined Maths</span>
    </div>
    <div class="table-cell">
      <span class="btn btn-primary subject-button">Physics</span>
    </div>
    <div class="table-cell">
      <span class="btn btn-primary subject-button">Chemistry</span>
    </div>
  </div>
  <div class="table-row">
    <div class="table-cell">
      <span class="btn btn-primary subject-button">Information Technology</span>
    </div>
    <div class="table-cell">
      <span class="btn btn-primary subject-button">Agriculture</span>
    </div>
    <div class="table-cell">
      <span class="btn btn-primary subject-button">Commers</span>
    </div>
  </div>
</div>
